[build]
command = "rake build && rake test"
publish = "_site/"

[build.environment]
# https://github.com/netlify/build-image/blob/xenial/included_software.md
RUBY_VERSION = "2.6.2"
YARN_VERSION = "1.13.0"

[context.production]
environment = { JEKYLL_ENV = "production" }
