{%- for post in include.posts -%}
<article class="preview">
    <i class="fa fa-calendar"></i>&nbsp;
    {{ post.date || date_to_long_string }}
    {%- if post.tags.size > 0 -%}
        <span class="hidden-xs-down">&nbsp;|&nbsp;</span>
        <span class="hidden-sm-up"><br/></span>
        {%- if post.tags.size == 1 -%}
            <i class="fa fa-tag"></i>
        {%- else -%}
            <i class="fa fa-tags"></i>
        {%- endif -%}
        {{ post.tags | join: ',&nbsp;' }}
    {%- endif -%}
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="excerpt">
        {{ post.excerpt | markdownify }}
    </div>
</article>
{%- unless forloop.last -%}<hr/>{%- endunless -%}
{%- endfor -%}
