//= require bootstrap/dist/css/bootstrap
//= require font-awesome/scss/font-awesome
//= require katex/dist/katex

body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    max-width: 950px;
}

.equation {
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5em;
}
