$fa-font-path: "fonts";
$font-family-sans-serif: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$font-family-serif: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
$font-family-monospace: "Roboto Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$link-color: #da4939;
$navbar-footer-bg: #272935;
$navbar-footer-color: #ffffff;

@import "bootstrap-v4-dev/scss/bootstrap";
@import "font-awesome/scss/font-awesome";

@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Roboto+Mono");

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

html {
    position: relative;
    min-height: 100%;
}

a {
    text-decoration: none !important;
    color: $link-color !important;
    border-bottom: 1px solid transparent;

    &:hover, &:active, &:focus {
        @include transition(border-bottom-color 0.2s);

        border-bottom-color: $link-color;
    }
}

a.btn {
    color: $black !important;
    border-bottom: none;
}

a.btn-primary {
    color: $white !important;
    border-bottom: none;
}

img.center {
    display: block;
    margin: 0 auto;
}

.container {
    min-width: 320px;
    max-width: 950px;
}

.navbar {
    font-family: $font-family-monospace;
    color: $navbar-footer-color !important;
    background: $navbar-footer-bg !important;

    .navbar-brand {
        color: $navbar-footer-color !important;
        font-size: 20px;
        text-decoration: none;
        border-bottom: none;
    }

    .nav-item {
        margin-left: 20px;

        &.active {
            font-weight: 900;
        }
    }

    .nav-link {
        color: $link-color !important;
        font-size: 16px;

        .link {
            color: inherit;
            text-decoration: none;
            text-transform: capitalize;
            padding-left: 2px;
            border-bottom: 2px solid transparent;

            &:hover, &:active, &:focus {
                @include transition(border-bottom-color 0.2s);

                border-bottom-color: $link-color;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: $zindex-navbar;
    }

    body {
        padding-top: 65px;
    }
}


.content {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .article {
        h1, h2, h3, h4, h5, h6 {
            &:before {
                content: '#';
                color: $link-color;
                font-size: 0.85em;
                padding-right: 0.15em;
            }
        }

        h1, h2 {
            &:after {
                content: '';
                display: block;
                border: 0.5px solid $navbar-footer-bg;
            }
        }
    }

    .article-title {
        text-weight: bold;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: $font-family-monospace;
    font-size: 13px;
    color: $navbar-footer-color !important;
    background: $navbar-footer-bg !important;
    padding: 2rem 0;

    h6 {
        padding: 10px 0;
        font-size: 20px;
        text-transform: uppercase;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            width: 2em;
            height: 2px;
            overflow: hidden;
            background: $navbar-footer-color;
        }
    }

    .contact {
        text-align: left;
        padding: 0 0 10px 0;

        li {
            display: inline-block;

            > a {
                display: inline-block;
                width: 32px;
                height: 32px;
                border-radius: 0.25em;
                border-bottom-color: transparent;
                color: $navbar-footer-bg !important;
                background-color: $navbar-footer-color;

                @include transition(color 0.2s);
                @include transition(background-color 0.2s);

                &:hover {
                    color: $navbar-footer-color !important;
                    background-color: $link-color;
                }

                i {
                    font-size: 16px;
                    width: 32px;
                    line-height: 32px;
                    text-align: center;
                }
            }
        }
    }

    .copyright {
        text-align: center;
    }
}

body {
    padding-bottom: 200px;
}

@include media-breakpoint-down(md) {
    .footer .col, .footer .contact {
        text-align: center;
    }

    body {
        padding-bottom: 250px;
    }
}


@import "katex";

.equation {
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5em;
}

@import "syntax";
