<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">
        {%- if layout.has_disqus or page.has_disqus -%}
        <meta name="DISQUS_PAGE_URL" content="{{ site.url }}{{ page.url }}">
        <meta name="DISQUS_PAGE_ID" content="{{ page.id }}">
        {%- endif -%}
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/assets/main.css" integrity="{% sri_hash assets/main.css %}" crossorigin="anonymous">
        <noscript><link rel="stylesheet" type="text/css" href="/assets/noscript.css" integrity="{% sri_hash assets/noscript.css %}" crossorigin="anonymous"></noscript>
        <script defer type="text/javascript" src="/assets/main.js" integrity="{% sri_hash assets/main.js %}" crossorigin="anonymous"></script>
        {% feed_meta %}
        {%- seo title=false -%}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#">{{ site.name }}</a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-main">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-main">
                    <ul class="navbar-nav ms-auto">
                        {%- for nav in site.nav -%}
                        {%- assign is_active = page.url | regex_matching: nav.active_regex -%}
                        <li class="nav-item{% if is_active %} active{% endif %}">
                            <div class="nav-link">
                                <span>/</span><a href="{{nav.url}}">{{nav.title}}</a>
                            </div>
                        </li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
        </nav>

        <main class="container content">
            {{ content }}
        </main>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="copyright">
                        <h6 class="header">Copyright</h6>
                        <p>
                            &copy;&nbsp;2014-{{ site.time | date: '%Y' }} by Cheng XU.<br>
                            Licensed under <a href="/LICENSE">CC-BY-NC-SA 4.0</a>.
                        </p>
                    </div>
                    <div class="contact">
                        <h6 class="header">Contact Me</h6>
                        <ul>
                            <li><a class="contact-entry" itemprop="email" href="mailto:{{ site.contact.email | encode_email }}"><i class="fa-solid fa-envelope fa-fw"></i></a></li>
                            <li><a class="contact-entry" itemprop="gpg" href="{{ site.contact.gpg }}"><i class="fa-solid fa-key fa-fw"></i></a></li>
                            <li><a class="contact-entry" itemprop="github" href="{{ site.contact.github }}"><i class="fa-brands fa-github-alt fa-fw"></i></a></li>
                            <li><a class="contact-entry" itemprop="linkedin" href="{{ site.contact.linkedin }}"><i class="fa-brands fa-linkedin-in fa-fw"></i></a></li>
                            <li><a class="contact-entry" itemprop="twitter" href="{{ site.contact.twitter }}"><i class="fa-brands fa-twitter fa-fw"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
