<!DOCTYPE HTML>
<html lang="en">
<head>
{%- include head.html -%}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">{{ site.name }}</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-main">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-main">
                <ul class="navbar-nav ml-auto">
                {%- for nav in site.nav -%}
                    {%- if nav.url == "/" and page.url == "/" -%}
                    <li class="nav-item active">
                    {%- elsif nav.url != "/" and page.url contains nav.url -%}
                    <li class="nav-item active">
                    {%- else -%}
                    <li class="nav-item">
                    {%- endif -%}
                        <div class="nav-link">
                            <span>/</span><a class="link" href="{{nav.url}}">{{nav.title}}</a>
                        </div>
                    </li>
                {%- endfor -%}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container content">
{{ content }}
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="copyright">
                    <h6>Copyright</h6>
                    <p>
                    &copy;&nbsp;2014-{{ site.time | date: '%Y' }} by XU Cheng.<br>
                    Licensed under <a href="/LICENSE">CC-BY-NC-SA 4.0</a>.
                    </p>
                </div>
                <div class="contact">
                    <h6>Contact Me</h6>
                    <ul>
                        <li><a itemprop="email" href="mailto:{{ site.contact.email | encode_email }}"><i class="fa fa-fw fa-envelope"></i></a></li>
                        <li><a itemprop="gpg" href="{{ site.contact.gpg }}"><i class="fa fa-fw fa-key"></i></a></li>
                        <li><a itemprop="github" href="{{ site.contact.github }}"><i class="fa fa-fw fa-github-alt"></i></a></li>
                        <li><a itemprop="twitter" href="{{ site.contact.twitter }}"><i class="fa fa-fw fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
