<!DOCTYPE HTML>
<html lang="en">
<head>
{% include head.html %}
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse">
        <div class="container">
            <a class="navbar-brand" href="#">{{ site.name }}</a>
            <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbar-main">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-main">
                <ul class="navbar-nav ml-auto">
                {% for nav in site.nav %}
                    {% if nav.url == "/" and page.url == "/" %}
                    <li class="nav-item active">
                    {% elsif nav.url != "/" and page.url contains nav.url %}
                    <li class="nav-item active">
                    {% else %}
                    <li class="nav-item">
                    {% endif %}
                        <div class="nav-link">
                            <span>/</span>
                            <a class="link" href="{{nav.url}}">{{nav.title}}</a>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
{{ content }}
    </div>
</body>
</html>
