---
layout: default
---

<h1 class="article-title">{{ page.title }}</h1>
<i class="fa fa-calendar"></i>&nbsp;
{{ page.date | date_to_long_string }}
{% if page.tags.size > 0 %}
    <span class="hidden-xs-down">&nbsp;|&nbsp;</span>
    <span class="hidden-sm-up"><br/></span>
    {% if pag.tags.size == 1 %}
        <i class="fa fa-tag"></i>
    {% else %}
        <i class="fa fa-tags"></i>
    {% endif %}
    {{ page.tags | join: ',&nbsp;' }}
{% endif %}
<hr/>

<article class="article">
    {{ content }}
</article>

{% include disqus.html %}
