---
---
{%- capture anchor -%}“<a href="/publication/{{ entry.key | replace: ':', '/' | downcase }}/">{%- endcapture -%}
{{ reference | regex_remove_first: '\[\d+\]' | replace_first: 'C. Xu', '<b>C. Xu</b>' | replace_first: '“', anchor | replace_first: ',”', '</a>,”' }}
{%- if entry.note -%}
    &#32;<b>{{ entry.note }}</b>.
{%- endif -%}
{%- if entry.url -%}
    &#32;[<a href="{{ entry.url | strip_site_url }}">pdf</a>]
{%- endif -%}
{%- if entry.eprint -%}
    &#32;[<a href="{{ entry.eprint | strip_site_url }}">eprint</a>]
{%- endif -%}
{%- if entry.slides -%}
    &#32;[<a href="{{ entry.slides | strip_site_url }}">slides</a>]
{%- endif -%}
{%- if entry.poster -%}
    &#32;[<a href="{{ entry.poster | strip_site_url }}">poster</a>]
{%- endif -%}

